In [1]:
import requests
from tqdm import tqdm
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

## Scrape Top 100 of S&P 500 Stocks

In [2]:
# S&P 500 Companies List by Market Capitalization 2023
top100 = pd.read_html('https://www.liberatedstocktrader.com/sp-500-companies/')

In [3]:
sp100table = top100[0]

sliced_table = sp100table[1:]
header = sp100table.iloc[0]
corrected_table = sliced_table.rename(columns=header)
# Fetch the top 100 companies by market capitalization
top_100_companies = corrected_table.iloc[:100]
top_100_companies

,Ticker,Description,Sector,Market Capitalization
1,AAPL,Apple Inc.,Electronic Technology,2728017215293
2,MSFT,Microsoft Corporation,Technology Services,2351371643107
3,GOOG,Alphabet Inc.,Technology Services,1611856497958
4,GOOGL,Alphabet Inc.,Technology Services,1610343852181
5,AMZN,"Amazon.com, Inc.",Retail Trade,1366884251763
...,...,...,...,...
96,AMT,American Tower Corporation (REIT),Finance,82187878166
97,CB,Chubb Limited,Finance,82105914715
98,CI,The Cigna Group,Health Services,81693476157
99,C,"Citigroup, Inc.",Finance,81360929490
100,BDX,"Becton, Dickinson and Company",Health Technology,79399811792

In [5]:
# Save the top 100 companies to a csv file in the Data folder
top_100_companies.to_csv('Data/Top_100_Companies.csv')

In [6]:
# Save the top 100 companies Ticker to a list
top_100_tickers = top_100_companies['Ticker'].tolist()

In [7]:
# Save the top 100 companies Ticker to a txt file in the Data folder
with open('Data/Top_100_Companies_Tickers.txt', 'w') as filehandle:
    for listitem in top_100_tickers:
        filehandle.write('%s\n' % listitem)